*.eld
*~
.last-package-update-day
.org-id-locations
/.lsp-session-v1
ac-comphist.dat
bookmarks
ede-projects.el
elpa
elpy
eshell
flycheck_packages.el
history
org-clock-save.el
org2web
places
projectile.cache
recentf
session.*
tramp
transient/
url/cookies
